body {
  background-image: url("../img/orange-sunset-1.jpg");
}

h1 {
  color: white;
  font-size: -webkit-xxx-large;
  text-align: center;
  padding-top: 50;
}

.simple-container {
  background: white;
}
.heatmap {
  padding-top: 20px;
  text-align: center;
}

.map {
  display: inline-flex;
}
